@import "../../assets/_library.scss";

.Card {
    display: flex;
    justify-content: center;
    width: fit-content;

  &-image {
    width: 228px;
    height: 300px;
    border-radius: 8px 8px 0 0;
  }

  &-line {
    margin: 0;
    width: 200px;
    align-self: center;
    background-color: $text-light;
    height: 1px;
    border: 0;
  }

  &-figure,
  &-figcaption {
    display: flex;
    flex-direction: column;
  }

  &-figure {
    margin: 0;
    width: 228px;
  }

  &-figcaption {
    background-color: $white;
  }

  &-cost,
  &-title {
    font-family: "Inter", sans-serif;
    color: $text-grey;
    margin: 8px 12px;
  }

  &-title {
    font-weight: 300;
    font-size: 16px;
  }

  &-cost {
    font-size: 14px;
    font-weight: 600;
    color: $text-dark;
  }
}
