.ProductList {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Card {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 481px) {
    display: grid;
    justify-items: center;
    justify-content: center;
    column-gap: 32px;
    row-gap: 24px;
    grid-template-columns: repeat(5, 230px);

    .Card {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(3, 230px);
    column-gap: 25px;
    row-gap: 16px;
  }
}
